<div class="edit-content user-edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>


<h2>Edita tu perfil</h2>

<%= f.file_field :photo %>
<%= f.hidden_field :photo_cache %>


<section class="cont-names">
  <div class="input-profile">
    <%= f.text_field :first_name, autocomplete:false, class:'ifirst', required: true %>
    <%= f.label :Nombre %>
  </div>

  <div class="input-profile">
    <%= f.text_field :last_name, autocomplete:false, required: true %>
    <%= f.label :Apellido %>
  </div>
</section>

<section class="cont-names">
  <div class="input-profile large">
    <%= f.email_field :email , placeholder:'Email', autocomplete: 'off', required: true%> 
    <%= f.label :email %>
  </div>
</section> 
  <section class="cont-names">

  <div class="input-profile">
    <%= f.label :subject, "Asignatura" %>
    <%= f.collection_select :subject_id, Subject.all, :id, :name %>
  </div>

  <div class="input-profile">
    <%= f.label :level, "Nivel" %>
    <%= f.collection_select :level_id, Level.all, :id, :name %>
  </div>
</section>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<br>  


<section class="cont-names">
  <div class="input-profile">
      <%= f.password_field :password, autocomplete: "off"%>
      <%= f.label :clave_nueva %>     
        <% if @minimum_password_length %>
  <em><%= @minimum_password_length %> carácteres mínimo</em>
  <% end %>
  </div>


  <div class="input-profile">
    <%= f.password_field :password_confirmation, autocomplete: "off"%>
    <%= f.label :repita_clave %>
  </div>
</section>


<div class="input-profile pwd-last">
 <%= f.password_field :current_password, autocomplete: "off", required: true %>
 <%= f.label :clave_actual %>
</div>  

<br>
<br>


<center>
<button type="submit" class="btn-update">Actualizar</button>
</center>
<% end %>
<center>
<%= link_to 'Dar de baja mi cuenta', registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class:'delete-acc' %>
</center>

</div>

<script type='text/javascript'>

$('.msj').click(function() {
    $(this).css({height:'0'});
    $('.hidde-pwd').css({height:'60px'});
     setTimeout( function(){
    $('.hidde-pwd').addClass('pwd-show');
  },100);  
});
    

</script>