<section class="user-view">
    <div class="pic" style="background-image:url('<%= user.photo %>')"></div>
    <div class="name"><%= user.first_name %> <%= user.last_name %></div>    
    <div class="email"><%= user.email %></div>
    <div class="contain-skills">
        <div class="material-subject <%= user.subject.name %>"></div>
        <div class="level <%= user.level.name %>"></div> 
    </div>     
</section>