<tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.subject.name %></td>
    <td><%= user.level.name %></td>
	<td><a href="<%= add_collaborate_user_path(user.id)%>">Agregar usuario</td>
</tr>