<tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><% unless user.subject.nil? %>
    	<%= user.subject.name %>
    	<% end %>
   	</td>
    <td><% unless user.level.nil? %>
    	<%= user.level.name %>
    	<% end %>
   	</td>   
</tr>



