<div class="cont-search-collaborate">
<h3><%= notice %></h3>

<div class="btn-search">    
    <input type="text" name="buscador" placeholder="Buscar colaboradores..." autocomplete="off">
    <button></button>
 </div>
<div class="cont-collaborators" id="user">
<h2>Lista de usuarios</h2>
  <%= render @users %>
</div>

<div class="cont-collaborators" id="user">
  <h2>Colaboradores del proyecto <%= Material.find(params[:id]).title.titleize %></h2>
    <%= render @collaborations %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("[name='buscador']").on("input", function(){
        var filter = $(this).val();
        $.ajax({
          url: '<%= collaborate_users_path %>',
          type: 'GET',
          dataType: 'script',
          data: {filter: filter},
        })
      });
    });

</script>