<div class="cont-user-show">

<section class="user-profile">
    <div class="pic" style="background-image:url('<%= @user.photo %>')"></div>
    <div class="name"><%= @user.last_name %> <%= @user.last_name %></div>    
    <div class="email"><%= @user.email %></div>
    <div class="contain-skills">
        <div class="material-subject <%= Subject.find(@user.subject).name %>"></div>
        <div class="level <%= Level.find(@user.level_id).name %>"></div> 
    </div>  

  <% @user.materials.where(public_level: 1).each do |material| %>
  <div><%= material.title %></div>
  <div><%= material.description %></div>
  <% end %>
   
</section>



</div>