<a href="<%= edit_material_path(material) %>">
<li id="materials_<%= material.id %>">
	<h2> <%= material.title %></h2>
	<p><%= material.description %></p>
	<div><%= link_to '', material, method: :delete, data: { confirm: 'Seguro?' }, remote: true, class:'material-delete' %></div>

	<div class="material-subject subject-<%= material.subject.name %>"></div>
</li>
</a>