<li id="materials_<%= m.material.id %>">
<a href="<%= edit_material_path(m.material) %>" class="a-frame">
	<h2> <%= m.material.title %></h2>
	<p><%= m.material.description %></p>
	<div><%= link_to '', m.material, method: :delete, data: { confirm: 'Seguro?' }, remote: true, class:'material-delete' %></div>
	<div class="material-subject subject-<%= m.material.subject.name %>"></div>
</a>
</li>
