<li id="materials_<%= material.id %>">
	<div><%= material.title %></div>
	<div><%= material.description %></div>
	<div><%= link_to 'Show', material %></div>
	<div><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Seguro?' }, remote: true %></div>
</li>