<%= form_for(material) do |f| %>
<% if material.errors.any?%>
<div id="error_explanation">
  <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

  <ul>
    <% material.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.text_field :title, placeholder:'Título...', maxlength:20, class:'title', autofocus:true , autocomplete: 'off' %>
<%= f.text_area :description, placeholder:'Descripcion completa de tu proyecto...', maxlength:70, class:'description', autocomplete: 'off'  %>


<ul>
  <li><h5>Privacidad</h5> 
    <%= f.select(:public_level) do %>
    <% [['Privado', 0], ['Publico', 1]].each do |c| %>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <% end %>
  </li>

  <li><h5>Asignatura</h5> <%= f.collection_select :subject_id, Subject.all, :id, :name %></li>
  <li><h5>Nivel</h5> <%= f.collection_select :level_id, Level.all, :id, :name %> </li>
</ul>

<button class="btn-create" type="submit">Crear material</button>
<% end %>
