<div class="notice"><%= notice %></div>
<div class="proyect-cont">
	<%= render 'form', material: @material %>
</div>


<% unless @material.updated_by.nil?  %>
<section class="user-update">
	<div class="pic" style="background-image:url('<%= User.find(@material.updated_by).photo %>')"></div>
	<div class="firstname"><%= User.find(@material.updated_by).first_name %></div>
	<div class="lastname"><%= User.find(@material.updated_by).last_name %></div>
	<div class="time"><%= @material.updated_at.strftime("%d %b. %Y %H:%M") %></div>

</section>
<% end %>

<script type='text/javascript'>

	$(".active-fullscreen").click(function(){
		$('.desactive-fullscreen').show();
		$(this).hide();
		$('.btn-fullscreen').addClass('fullscreen-on');
		$('body').css({'background-color': '#bbb'});
		setTimeout( function(){	$('header').css({'transform': 'translate3d(0,-80px,0)'});},100);
		$('.nav-fix').css({'height': '0'});
	});

	$(".desactive-fullscreen").click(function(){
		$(this).hide();		
		$('.active-fullscreen').show()
		$('.btn-fullscreen').removeClass('fullscreen-on');
		$('body').css({'background-color': '#eee'});
		setTimeout( function(){	$('header').css({'transform': 'translate3d(0,0,0)'});},100);
		$('.nav-fix').css({'height': '80px'});
	});


</script>

<section class="comments-cont">	  
	<h2>Comentarios de <b><%= @material.title %></b></h2>

	<div class="cont-comm">

		<%= form_tag(material_add_comment_path(@material), method: :get) do  %>
		<div class="comment">
			<%= render @comments %>	
		</div>
			
			<center><input type="text" name="comment" placeholder="Ingresar comentario..." autocomplete="off" maxlength="60" required="true"></center>
    		<button type="submit">Comentar</button>
		<% end %>
	</div>



	
	<div class="close-comment"></div>
	


</section>

<script>
$('textarea.js-auto-size').textareaAutoSize();
</script>


<script type='text/javascript'>
	$(".btn-comments").click(function(){$('.comments-cont').css({'transform': 'translate3d(0,0,0)'});});
	$(".close-comment").click(function(){$('.comments-cont').css({'transform': 'translate3d(605px,0,0)'});});


	$(".active-menu").click(function(){
		$(this).hide();
		$('.btn-menu').addClass('menu-btn-on');
		$('.menu-material, .desactive-menu').show();
		 setTimeout( function(){
			   $('.menu-material').addClass('menu-material-on');
			},100);

	});


	$(".desactive-menu, .btn-comments,.btn-print, .btn-collaborate").click(function(){
		$('.menu-material').removeClass('menu-material-on');
		$('.btn-menu').removeClass('menu-btn-on');
		$('.desactive-menu').hide();
		$('.active-menu').show();
		 setTimeout( function(){
			   $('.menu-material').hide();
			},100);

	});
</script>