<div class="proyect-cont">
	<%= render 'form', material: @material %>

	<div class="btn-round btn-fullscreen">
		<div class="active-fullscreen"></div>
		<div class="desactive-fullscreen"></div>
	</div>

	<div class="btn-round btn-print" onClick="javascript:window.print();"></div>	
	<div class="btn-round btn-comments"></div>
</div>



<% unless @material.updated_by.nil?  %>
<section class="user-update">
	<div class="pic" style="background-image:url('<%= User.find(@material.updated_by).photo %>')"></div>
	<div class="firstname"><%= User.find(@material.updated_by).first_name %></div>
	<div class="lastname"><%= User.find(@material.updated_by).last_name %></div>
	<div class="time"><%= @material.updated_at %></div>
</section>
<% end %>

<script type='text/javascript'>

	$(".active-fullscreen").click(function(){
		$('.desactive-fullscreen').show();
		$(this).hide();
		$('.btn-fullscreen').addClass('fullscreen-on');
		$('main').css({'left': '0', 'width':'100vw'});
		setTimeout( function(){	$('header').css({'transform': 'translate3d(-15vw,0,0)'});},100);
	});

	$(".desactive-fullscreen").click(function(){
		$(this).hide();		
		$('.active-fullscreen').show()
		$('.btn-fullscreen').removeClass('fullscreen-on');
		$('main').css({'left': '15%', 'width':'85vw'});
		setTimeout( function(){	$('header').css({'transform': 'translate3d(0,0,0)'});},100);
	});


</script>

<section class="comments-cont">	  
	<h2>Comentarios de <b><%= @material.title %></b></h2>

	<div class="cont-comm">
		<div class="comment">
			<% @user_materials.each do |umaterial|%>
				<% @comments = umaterial.comments %>
				<% @comments.each do |comment| %>
					<div class="content"><%= comment.content %></div>
					<% u = User.find(comment.user_material.user_id) %>
					<div class="author"><%= u.first_name %> <%= u.last_name %> - <%= comment.created_at.strftime("%d %b. %Y %H:%M") %></div>
				<% end %>
			<% end %>
		</div>
	</div>
	

	  
	<button id="new-comment">Nuevo Comentario</button>
	<div id="resultado">
		<%#= render 'lista_post', posts: @posts %>
	</div>

	

	<div class="close-comment"></div>
	
</section>

<script type='text/javascript'>
	$(".btn-comments").click(function(){$('.comments-cont').css({'transform': 'translate3d(0,0,0)'});});
	$(".close-comment").click(function(){$('.comments-cont').css({'transform': 'translate3d(600px,0,0)'});});

</script>
<script>
	$('#new-comment').on('click', function() {
		$.ajax({
			url: '<%= edit_material_path %>',
			type: 'GET',
			dataType: 'script',
			data: {title: title}
		});		
	});
</script>