  <section class="material">
    <h1>Mis Materiales</h1>
    <div class="cont-material">

      <ul id="sortable">
        <li>
          <%= render @materials %>
        </li>
      </ul>

    </div>


    <h1>Colaboración</h1>
    <% unless @collaborations.nil? %>
     <div class="cont-material">
     <ul id="sortable">
      <% @collaborations.each do |col| %>
      <li><%= col.material.title %></li>
      <li><%= col.material.description %></li>
      <% end %>
    <% end %>
    
    </ul>
    </div>
    
    <div class="cont-material">
      <div id="test"></div>
      <p class="notice"><%= notice %></p>
    </div>

  </section>


  <%#= link_to '', new_material_path, class:'btn-round btn-new' %>

  <div class='btn-round btn-new'></div>

<div class="material-create-cont">
<%= render 'form', material: @material %>
</div>

<script type='text/javascript'>
$('.material-create-cont').hide();

$('.btn-new').click(function() {
  $("html, body").animate({scrollTop:0}, 300);
  $('.material-create-cont').show()
  $(this).addClass('btn-open')
  setTimeout( function(){
  $('.material-create-cont').addClass('material-open');
  },100); 
  
});
</script>