  <section class="material">
    <h1>Mis Materiales</h1>
    <div class="cont-material">

      <ul id="sortable">
        <li>
          <%= render @materials %>
        </li>
      </ul>

    </div>


    <h1>Colaboración</h1>
    <% unless @collaborations.nil? %>
     <div class="cont-material">
     <ul id="sortable">
      <% @collaborations.each do |col| %>
      <li><%= col.material.title %></li>
      <li><%= col.material.description %></li>
      <% end %>
    <% end %>
    
    </ul>
    </div>
    
    <div class="cont-material">
      <div id="test"></div>
      <p class="notice"><%= notice %></p>
    </div>

  </section>


  <%#= link_to '', new_material_path, class:'btn-round btn-new' %>

  <div class='btn-round btn-new'>
  <div class="btn-action"></div>

    <div class="material-create-cont material--content">
      <%= render 'pre_form', material: @material %>
    </div>

  </div>

  <div class="shadow-box"></div>



  <script type='text/javascript'>
//$('.material-create-cont').hide();

$('.btn-action').click(function() {
   // $("html, body").animate({scrollTop:0}, 300);
   $('.title').focus();
   $(this).hide();
   $('.shadow-box').fadeIn(200);
   $('.material').addClass('material-off');
   $('.material-create-cont').show();
   $('.btn-new').addClass('btn-open');
   setTimeout( function(){
    $('.material-create-cont').addClass('material-open');
  },100); 

});


$(document).keyup(function(e) {
if (e.keyCode == 27) {
   $('.btn-action').show();
   $('.shadow-box').fadeOut(200);
   $('.material').removeClass('material-off');
   $('.material-create-cont').hide();
   $('.btn-new').removeClass('btn-open');
   setTimeout( function(){
    $('.material-create-cont').removeClass('material-open');
  },100);  
}
});


$('.shadow-box').click(function() {
   $('.btn-action').show();
   $('.shadow-box').fadeOut(200);
   $('.material').removeClass('material-off');
   $('.material-create-cont').hide();
   $('.btn-new').removeClass('btn-open');
   setTimeout( function(){
    $('.material-create-cont').removeClass('material-open');
  },100);  
});


</script>