<form action="<%= users_path %>">
<div class="btn-search">    
    <input type="text" name="search" placeholder="Buscar usuarios..." autocomplete="off">
    <button></button>
 </div>
</form>

<section class="material">
  <h1>Mis Materiales</h1>
  <div class="cont-material">
    <ul>
      <li>
        <%= render @materials %>
      </li>
    </ul>

  </div>

  <h1>Colaboración</h1>
  <div class="cont-material">
   <ul>
    <li>
      <%= render @collaborations %>
    </li>
  </ul>
</div>

</section>

<div class='btn-round btn-new'>
  <div class="btn-action"></div>
  <div class="material-create-cont material--content">
    <%= render 'pre_form', material: @material %>
  </div>
</div>

<div class="btn-round btn-search-user">
  <div class="btn-action-2"></div>
<form action="<%= all_materials_path %>">  
    <input type="text" name="find" placeholder="Buscar materiales..." autocomplete="off">
    <button></button>
</form>
</div>



