
  <%= @material.title %>


<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @material.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @material.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @material.updated_by %>
</p>

<p>
  <strong>Public level:</strong>
  <%= @material.public_level %>
</p>

