<!DOCTYPE html>
<html>
<head>
  <title>Proyecto G6</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="description" content="App para que ahorres tiempo administrativo" />
  <meta name="keywords" content="Pruebas, profesores, herramientas, ayuda, test, examenes, materiales, asignaturas" />  
  <meta name="author" content="TEACHUB" />
  <meta name="googlebot" content="code">
  <meta name="robots" content="index, follow">
  <meta name="Copyright" content="Copyright (c)  teachub.cl  " />
  <meta name="CONTACT_ADDR" content="contacto@teachub.cl" />
  <meta property="og:url"             content="http://www.teachub.cl" />
  <meta property="og:type"            content="website" />
  <meta property="og:title"           content="Teachub" />
  <meta property="og:description"     content="Ahorra tiempo creando materiales para tus clases" />   
  <meta property="og:image"           content="http://i66.tinypic.com/nqpyxy.jpg"/>
  <meta property="og:image:type"      content="image/jpg" /> 
  <meta property="og:image:width"     content="1200" /> 
  <meta property="og:image:height"    content="630" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#111">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="/assets/print.css" media="print">
</head>

<body>
  <%= render 'layouts/shared/nav' %>

  <main>
    <section class="cont-main">
     <%= yield %>      
    </section>

<div class="shadow-box"></div>
<div class="shadow-box-2"></div>
  </main>
</body>
</html>

<script type='text/javascript'>
//$('.material-create-cont').hide();

$('.btn-action').click(function() {
   // $("html, body").animate({scrollTop:0}, 300);
   $('.btn-new .title').focus();
   $(this).hide();
   $('.shadow-box').fadeIn(200);
   $('.material').addClass('material-off');
   $('.material-create-cont').show();
   $('.btn-new').addClass('btn-open');
   setTimeout( function(){
    $('.material-create-cont').addClass('material-open');
  },100); 

 });


$(document).keyup(function(e) {
  if (e.keyCode == 27) {
   $('.btn-action, .btn-action-2').show();
   $('.shadow-box').fadeOut(200);
   $('.material').removeClass('material-off');
   $('.material-create-cont').hide();
   $('.btn-new').removeClass('btn-open');
   setTimeout( function(){
    $('.material-create-cont').removeClass('material-open');
   $('.btn-search-user').removeClass('user-search-on');
  },100);  
 }
});


$('.shadow-box').click(function() {
 $('.btn-action, .btn-action-2').show();
 $('.shadow-box').fadeOut(200);
 $('.material').removeClass('material-off');
 $('.material-create-cont').hide();
 $('.btn-new').removeClass('btn-open');
 setTimeout( function(){
  $('.material-create-cont').removeClass('material-open');
   $('.btn-search-user').removeClass('user-search-on');
},100);  
});


$('.btn-search input').focusin(function() {
   $('.btn-search').addClass('search-on');
 });

$('.btn-search input').focusout(function() {
   $('.btn-search').removeClass('search-on');
 });


$('.btn-action-2').click(function() {
   $('.btn-search-user').addClass('user-search-on');
   $(this).hide();
   $('.shadow-box').fadeIn(200);
   $('.btn-search-user input').focus();

 });


</script>
<script type='text/javascript'>


$(document).keyup(function(e) {
if (e.keyCode == 27) {  
    $('.acc').css({'height':'auto'});  
    $('.edit-content, .btn-upload').hide(0); 
    $('.edit-content').removeClass('edit-on');
    $('main').removeClass('main-edit-on');  
   $('.shadow-box-2').fadeOut(200);
   $('.material').removeClass('material-off');
   $('.copy-right, .logout, .acc h4, .acc h5').removeClass('footer-edit-on');
   $('body').css({'overflow-x':'auto'});
}
});



$('.shadow-box-2').click(function() {
  $('.acc').css({'height':'auto'});  
  $('.edit-content').hide(0); 
  $('.edit-content').removeClass('edit-on');
  $('main').removeClass('main-edit-on');  
  $('.shadow-box-2').fadeOut(200);
  $('.material').removeClass('material-off');
  $('.copy-right, .logout, .acc h4, .acc h5').removeClass('footer-edit-on');
});

  


</script>